@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
:root{
 --font-principal:'Noto Sans' , sans-serif;
}

/*#101011e8*/

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 220px;
}

#netflixlogo{
    margin-top: -8px;
    margin-left: -8px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../imagens/netflix.jpg');
    background-repeat: no-repeat;
}

h1{
    font-family: var(--font-principal);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    

}

span > a{
    text-decoration: none;
    color: white;
}

span > a:hover{
    text-decoration: underline;
}

p{
    color: #737373;
}

#conteudo{
    /*margin-right: 30px;
    margin-left: 30px;*/
    background-color: #000000ce;
    border-radius: 3px;
    padding-top: 50px;
    padding-right: 94px;
    padding-bottom: 150px;
    padding-left: 70px;
    position: absolute;
    margin-top: 100px;
    margin-left: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 300px
}

#email{
    color: white;
    text-indent: 20px;
    margin-top: 20px;
    background-color: #333333;
    height: 45px;
    width: 320px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    
}

#senha{
    color: white;
    text-indent: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #333333;
    height: 45px;
    width: 320px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}

::placeholder{
    font-size: 13px;
    color: #797979;
    font-weight: normal;
    text-indent: 20px;

}

#entrar{
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    margin-top: 25px;
    color: white;
    background-color: #E50914;
    height: 45px;
    width: 320px;
    font-weight: normal;
    font-size: 15px;
    font-family: var(--font-principal);
}

#entrar:hover{
    background-color: #ff0000bd;
    cursor: pointer;
}

#check{
    border-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 1px;
    color: #737373;
}

#embaixo{
    color: #929292;
    width: 106.3%;
    margin-top: 15px;
}

#lembre{
    color: #929292;
    display: inline-block;
    font-size: 13px;
    width: 45%;
}

#helper {
    display: inline-block;
    width: 1px;
    background-color: green;
}

#precisa{
    display: inline-block;
    font-size: 13px;
    width: 51.9%;
    text-align: right;
}

#precisa > a {
    text-decoration: none;
    color: #929292;
}

#precisa:hover{
    text-decoration: underline;
}

#novo{
    margin-top: 42px;
    font-size: 16px;
    font-weight: normal;
    color: #585858;
}

.assine {
    font-size: 15px;
}

#robo{
    width: 100%;
    margin-top: 15px;
    font-size: 13px;
    text-align: justify;
}

hr {
    display: none;
}

#final{
    color: #737373;
    font-size: 13px;
    background-color: #000000ce;
    margin-top: 730px;

    
}

#duvidas{
    margin: auto;
    font-size: 16px;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 990px;

}

ul#pq {
    display: none;
}

ul#gg {
    margin: auto;
    display: block;
    list-style: none;
    list-style-position: inside;
    columns: 4;
    max-width: 990px;
}

li {
    margin-bottom: 17px;
}

#link{
    text-decoration: none;
    color: #737373;
}

#link:hover{
    text-decoration: underline;
}

#ilang {
    text-align: center;
    width: 140px;
    height: 47px;
    background-color: black;
    color: rgb(104, 104, 104);
    border: 1px solid rgb(61, 61, 61);
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 2px;
}

#pten {
    margin: auto;
    max-width: 990px;
}